{% extends "layout.njk" %}

{% block title %}
    <title>{{ item.title }} | Foodfy</title>
{% endblock%}

{% block links %}
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../../../styles/header.css">

    <link rel="stylesheet" href="../../../styles/page-recipe-edit.css">
    <link rel="stylesheet" href="../../../styles/form.css">
    
    <link rel="stylesheet" href="../../../styles/footer.css">
{% endblock %}

{% block header %}
    <header>
        <div class="header-wrapper">
            <a href="/" id="logo"><img src="../../../assets/logo-white.png" alt="Logomarca do Foodfy"></a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main id="page-recipe-edit">
        <div class="recipe-header">
            <h2>Editando receita: {{ item.title }}</h2>
            <div class="btn">
                <form method="POST" action="/admin/recipes?_method=DELETE" id="recipe-delete">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button id="delete" type="submit">Deletar</button>
                </form>

                <button id="save" type="submit" form="recipe-form">Salvar Receita</button>
            </div>
        </div>

        <form method="POST" action="/admin/recipes?_method=PUT" id="recipe-form">
        
        {% include 'admin/fields.njk' %}

        <input type="hidden" name="id" value="{{ item.id }}">
        </form>

    </main>
{% endblock %}

{% block script %}
    <script src="../../../scripts/create.js"></script>
{% endblock %}



