{% extends "layout.njk" %}

{% block title %}
    <title>Lista de Receitas | Foodfy</title>
{% endblock%}

{% block links %}
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/header.css">

    <link rel="stylesheet" href="../../styles/page-recipes-list.css">
    <link rel="stylesheet" href="../../styles/cards.css">
    
    <link rel="stylesheet" href="../../styles/footer.css">
{% endblock %}

{% block header %}
    <header>
        <div class="header-wrapper">
            <a href="/" id="logo"><img src="../../assets/logo-white.png" alt="Logomarca do Foodfy"></a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main id="page-recipes-list">
        <h1>Gerenciar receitas</h1>

        <section id="recipes-list">
            <div class="cards">
                {% for item in items %}
                <div class="card" id="{{ item.id }}">
                    <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
                    <div class="card-info-wrapper">
                        <h2>{{ item.title }}</h2>
                        <p>por {{ item.author }}</p>
                        <button>Visualizar</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </section>
    </main>
{% endblock %}

{% block script %}
    <script src="../../scripts/script.js"></script>
{% endblock %}