{% extends "layout.njk" %}

{% block title %}
    <title>{{ item.title }} | Foodfy</title>
{% endblock%}

{% block links %}
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/header.css">

    <link rel="stylesheet" href="../../styles/page-recipe-show.css">
    
    <link rel="stylesheet" href="../../styles/footer.css">
{% endblock %}

{% block header %}
    <header>
        <div class="header-wrapper">
            <a href="/" id="logo"><img src="../../assets/logo-white.png" alt="Logomarca do Foodfy"></a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main id="page-recipe-show">
        <div class="recipe-header">
            <h2>Receita: {{ item.title }}</h2>
            <a href="{{ item.id }}/edit"><button>Editar Receita</button></a>
        </div>

        <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">

        <h1>{{ item.title }}</h1>
        <p>por {{ item.author }}</p>

        <div id="recipe-info">
            <h2>Ingredientes</h2>
            <div class="info-body">
                <ul>
                    {% for ingredient in item.ingredients %}
                    <li>- {{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>

            <h2>Modo de preparo</h2>
            <div class="info-body">
                <ul>
                    {% for step in item.preparation %}
                    <li>- {{ step }}</li>
                    {% endfor %}
                </ul>
            </div>

            <h2>Informações adicionais</h2>
            <div class="info-body">{{ item.information }}</div>
        </div> 
        
    </main>
{% endblock %}

