{% extends "layout.njk" %}

{% block content %}
    <main id="page-landing">
        <section id="banner">
            <div>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            
            <img src="./assets/chef.png" alt="Imagem do Chef">
        </section>

        <section id="top-recipes">
            <h1>Mais Accessadas</h1>

            <div class="cards">
                {% for item in items %}
                <div class="card" id="{{ item.id }}">
                    <img src="./assets/{{ item.id }}.png" alt="Imagem de {{ item.title }}">
                    <h2>{{ item.title }}</h2>
                    <p>por {{ item.author }}</p>
                </div>
                {% endfor %}
            </div>

        </section>
    </main>
{% endblock %}