{% extends "layout.html" %}

{% block title %}
    <title>Receitas | Foodfy</title>
{% endblock%}

{% block links %}
    <link rel="stylesheet" href="./styles/page-recipes.css">
    <link rel="stylesheet" href="./styles/cards.css">
    <link rel="stylesheet" href="./styles/modal.css">
{% endblock %}

{% block content %}
    <main id="page-recipes">

        <section id="recipes">
            <div class="cards">
                <div class="card" id="burger">
                    <img src="./assets/burger.png" alt="Imagem do hamburger">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                </div>
                <div class="card" id="pizza">
                    <img src="./assets/pizza.png" alt="Imagem do hamburger">
                    <h2>Pizza 4 estações</h2>
                    <p>por Fabiana Melo</p>
                </div>
                <div class="card" id="espaguete">
                    <img src="./assets/espaguete.png" alt="Imagem do hamburger">
                    <h2>Espaguete ao alho</h2>
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="cards">
                <div class="card" id="lasanha">
                    <img src="./assets/lasanha.png" alt="Imagem do hamburger">
                    <h2>Lasanha mac n' cheese</h2>
                    <p>por Juliano Vieira</p>
                </div>
                <div class="card" id="doce">
                    <img src="./assets/doce.png" alt="Imagem do hamburger">
                    <h2>Docinhos pão-do-céu</h2>
                    <p>por Ricardo Golvea</p>
                </div>
                <div class="card" id="asinhas">
                    <img src="./assets/asinhas.png" alt="Imagem do hamburger">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <p>por Vania Steroski</p>
                </div>
            </div>

            <div class="cards">
                <div class="card" id="burger">
                    <img src="./assets/burger.png" alt="Imagem do hamburger">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                </div>
                <div class="card" id="pizza">
                    <img src="./assets/pizza.png" alt="Imagem do hamburger">
                    <h2>Pizza 4 estações</h2>
                    <p>por Fabiana Melo</p>
                </div>
                <div class="card" id="espaguete">
                    <img src="./assets/espaguete.png" alt="Imagem do hamburger">
                    <h2>Espaguete ao alho</h2>
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="cards">
                <div class="card" id="lasanha">
                    <img src="./assets/lasanha.png" alt="Imagem do hamburger">
                    <h2>Lasanha mac n' cheese</h2>
                    <p>por Juliano Vieira</p>
                </div>
                <div class="card" id="doce">
                    <img src="./assets/doce.png" alt="Imagem do hamburger">
                    <h2>Docinhos pão-do-céu</h2>
                    <p>por Ricardo Golvea</p>
                </div>
                <div class="card" id="asinhas">
                    <img src="./assets/asinhas.png" alt="Imagem do hamburger">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <p>por Vania Steroski</p>
                </div>
            </div>

        </section>
    </main>
{% endblock %}

{% block modal %}
    <div class="modal-overlay">
        <div class="modal">
            <img src="" alt="Imagem da receita">
            <h2></h2>
            <p></p>

            <a href="#" class="close-modal">Fechar Modal</a>
        </div>
    </div>

    <script src="./scripts/modal.js"></script>
{% endblock %}