{% extends "layout.njk" %}

{% block title %}
    <title>{{ item.title }} | Foodfy</title>
{% endblock%}

{% block links %}
    <link rel="stylesheet" href="./styles/page-recipe.css">
{% endblock %}

{% block content %}
    <main id="page-recipe">
        <img src="./assets/{{ item.id }}.png" alt="Imagem de {{ item.title }}">

        <h1>{{ item.title }}</h1>
        <p>por {{ item.author }}</p>

        <div id="accordion">
            <div class="panel"> <!-- first panel -->
                <div class="acc-header">Ingredientes <button>Mostrar</button></div>
                <div class="acc-body">
                    <ul>
                        {% for ingredients in item.ingredients %}
                        <li>{{ ingredients }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel"> <!-- second panel -->
                <div class="acc-header">Modo de preparo <button>Mostrar</button></div>
                <div class="acc-body">
                    <ul>
                        {% for steps in item.preparation %}
                        <li>{{ steps }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel"> <!-- third panel -->
                <div class="acc-header">Informações adicionais <button>Mostrar</button></div>
                <div class="acc-body">{{ item.information }}</div>
            </div>
        </div> 
        
    </main>
{% endblock %}

{% block script %}
    <script src="./scripts/accordion.js"></script>
{% endblock %}