@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {
    --bg: rgba(0,0,0,0.7);
    --bg-admin: #111111;
    --bg-btn: #6558C3;
    --bg-btn-delete: #DC4747;

    --white: #fff;
    --gray: #EEEEEE;
    --gray-light: #999999;
    --pink: #FBDFDB;

    --text: #111111;
    --text-light: #777777;
    --text-light-2: #444444;
    --text-purple: #6558C3;

    --input-border: #DDDDDD;

    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-wrapper,
main {
    width: 80%;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 5.688rem - 3.875rem);
}