header {
    background: var(--bg-admin);
    margin-bottom: 3.125rem;
}

#page-recipe-edit {
    max-width: 1100px;
}

#page-recipe-edit {
    max-width: 1100px;
}

/* HEADER ***************/

#page-recipe-edit .recipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#page-recipe-edit .recipe-header h2 {
    font-size: 1.5;
    font-weight: 700;
}

.ingredient + .ingredient {
    margin-top: 0.625rem;
}

.preparation + .preparation {
    margin-top: 0.625rem;
}

/* BUTTONS *******************/
/* BUTTONS header ****/
.recipe-header .btn {
    display: flex;
}

.recipe-header .btn button {
    padding: 0.563rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
    color: var(--white);
    font-weight: 700;
}

#delete {
    background: var(--bg-btn-delete);
    margin-right: 0.625rem;
}

#save {
    background: var(--bg-btn);
}

/* BUTTONS form ****/

.input-block button[type="button"] {
    color: var(--text-purple);
    border: none;
}





